<div class="gallery">
    <div class="con-maindemo" id="a-demo">

        <div id="slides2" class="zoomflow skin-default loaded" style="height: 543.75px;">
            <div class="items">
                <div class="item-tobe" ng-repeat="image in gallery.images track by image.id" data-source="{{image.url}}">
                    <div style="display: block; opacity: 1;" class="captionCon" ng-if="image.caption">
                        <div style="left: 50px; top: 50px; text-align: left; color: #e5dc77;" data-delay="" data-effect="slideright fade" class="caption style_bigtitle">CAPTION
                        </div>
                        <div style="left: 50px; top: 80px; width:250px; text-align:left;" data-delay="secs0-5" data-effect="slideleft fade" class="caption style_bigtitle">{{image.caption}}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>